<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=DM Sans"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Profile Card</title>
    <style>
      body {
        font-family: "DM Sans", sans-serif;
      }
      .full {
        padding: 75px;
        background-color: #e3e7eb;
      }
      .icon-container {
        display: flex;
        justify-content: left;
        gap: 20px;
        margin-top: 20px;
      }
      h2 {
        text-align: left;
        font-weight: bold;
      }
      .icon {
        width: 35px !important;
        height: 35px !important;
      }
      .profile {
        border-radius: 10px;
        background-color: white;
        object-fit: cover;
        width: 300px;
        height: 300px;
      }
      .button-contact {
        width: 130px;
        padding: 10px 20px;
        font-size: medium;
        color: white;
        background-color: black;
        border-radius: 50px;
        border: none;
        cursor: pointer;
      }
      .card-profile {
        padding: 30px;
      }
      #card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .card {
        flex: 0 1 30%;
        margin: 15px;
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
      }
      .card:hover {
        transform: translateY(-5px);
      }
      .card-content {
        padding: 2px;
      }
      .card img {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
      .card-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
        text-decoration: none;
      }
      .card-title:hover {
        color: #007bff;
      }
      .card-duration,
      .card-description,
      .card-technologies {
        font-size: 0.9rem;
        color: #666;
        margin-top: 5px;
      }
      .button-group {
        display: flex;
        justify-content: space-between;
        padding: 10px;
      }
      .button-card {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
      }
      .button-card:hover {
        background-color: #0056b3;
      }
      .description-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 6em;
      }
      .technology-icon {
        width: 30px !important; /* Set the width of the icon */
        height: 30px !important; /* Set the height of the icon */
        margin-right: 10px !important; /* Add some space between icons */
      }

      @media (max-width: 800px) {
        .full {
          padding: 20px;
        }
        .card {
          flex: 0 1 100%;
        }
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">

        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="collection">Add Collection</a>
            </li>
            <li class="nav-item">

            </li>
          </ul>
          <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item mr-3">
              {{#if user}}
              <span class="navbar-text">Welcome, {{user.username}}</span>
            </li>
            <li class="nav-item">
              <form action="/logout" method="post" style="display: inline">
                <button class="btn btn-outline-danger" type="submit">
                  Logout
                </button>
              </form>
              {{else}}
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a href="/login" class="btn btn-outline-primary"> Login </a>
                </li>
              </ul>

              {{/if}}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {{#if messages.success}}
    <div id="flash-message" class="alert alert-success" role="alert">
      {{messages.success}}
    </div>
    {{/if}}


    <div class="container mt-5">
      <h1 style="text-align: left">Collection</h1>
      <div id="card-container">
        {{#each collections}}
        <div class="card">
          <div class="card-content">
            <a href="/collection-detail/{{id}}">
  
              <img id="card-image-{{id}}" src="/uploads/{{image}}" alt="Collection Image" />
            </a>
            <a
              href="/collection-detail/{{id}}"
              class="card-title"
              id="card-title-{{id}}"
            >
              {{collection_name}}
            </a>
  
          </div>
          <div class="card-description" id="card-description-{{id}}">
            <div class="description-text">{{description}}</div>
          </div>
          <div class="card-technologies" id="card-technologies-{{id}}">
            {{#each technologies}} {{#if (eq this 'NodeJS')}}
            <img
              src="../assets/icon/nodejs.png"
              alt="NodeJs"
              class="technology-icon"
            />
            {{else if (eq this 'ReactJS')}}
            <img
              src="../assets/icon/reactjs.png"
              alt="ReactJs"
              class="technology-icon"
            />
            {{else if (eq this 'NextJS')}}
            <img
              src="../assets/icon/nextjs.png"
              alt="NextJs"
              class="technology-icon"
            />
            {{else if (eq this 'TypeScript')}}
            <img
              src="../assets/icon/typescript.png"
              alt="TypeScript"
              class="technology-icon"
            />
            {{else}}
            <p>Unknown Technology: {{this}}</p>
            {{/if}} {{/each}}
          </div>

          <div class="button-group mt-auto row">
            <div class="col">
              {{!-- {{#if ../user}} --}}
              <a href="/edit-collection/{{id}}" class="btn btn-dark btn-block"
                >Edit</a
              >
            </div>
            <div class="col">
              <form
                method="POST"
                action="/delete-collection/{{id}}"
                style="display: inline"
              >
                <button class="btn btn-dark btn-block" type="submit">
                  Delete
                </button>
              </form>
              {{!-- {{/if}} --}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="collection.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script>
      // Hide flash message after 2 seconds
      setTimeout(function () {
        const flashMessage = document.getElementById("flash-message");
        if (flashMessage) {
          flashMessage.style.transition = "opacity 0.5s ease";
          flashMessage.style.opacity = "0";
          setTimeout(() => flashMessage.remove(), 500); // Wait for fade-out effect before removing
        }
      }, 2000);
    </script>
  </body>
</html>
